@model WEB.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Редагувати";
}

<h2>Редагувати</h2>

<div>
    <a href="@Url.Action("Index")">Назад</a>

    <form action="@Url.Action("EditEmployee")" method="post" enctype="multipart/form-data">
        <input type="hidden" name="Id" value="@Model.Id" />

        <div>
            <label for="LastName">Прізвище</label>
            <div>
                @Html.TextBoxFor(m => m.LastName)
            </div>
        </div>

        <div>
            <label for="FirstName">Ім'я</label>
            <div>
                @Html.TextBoxFor(m => m.FirstName)
            </div>
        </div>

        <div>
            <input type="submit" value="Редагувати" />
        </div>
    </form>
</div>
