@model WEB.ViewModels.EmployeeViewModel
@using WEB.Infrastructure

@{
    bool isType = ViewBag.Type == TypeEntity.SickLeave;
    ViewBag.Title = isType ? "Лікарняні" : "Відпустки";
}

<h2>@ViewBag.Title</h2>

<div>
    <a href="@Url.Action("Index", "Home")">Назад</a>

    <p>Співробітник: @Model.FirstName @Model.LastName</p>

    @if ((isType && Model.SickLeaves.Any()) || (!isType && Model.Vacations.Any()))
    {
        <table>
            <thead>
                <tr>
                    <th>Початок</th>
                    <th>Кінець</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (isType)
                {
                    foreach (var item in Model.SickLeaves)
                    {
                        <tr>
                            <td>@item.Start</td>
                            <td>@item.End</td>
                        </tr>
                    }
                }
                else
                {
                    foreach (var item in Model.Vacations)
                    {
                        <tr>
                            <td>@item.Start</td>
                            <td>@item.End</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Список порожній</p>
    }
</div>